@import url(reset.css);
@import url(modal.css);



body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
	background: #FFFEF8;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	justify-content: space-evenly;


}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}
header li:hover{
	color: #B1663C;
}
#filtres nav{
	width: 80%;
}
nav a{
	text-decoration: none;
}
button {
	cursor: pointer;
}
#filtres li{
	width: 20%;
}
#filtres button, #addWorks, #addImage{
	font-family: 'syne' ;
	font-size: 16px;
	color: #1D6154;
	display: flex;
	align-items: center;
	justify-content: center;
	white-space: nowrap;
	height: 40px;
	width: 100%;
	border: 2px solid #1D6154;
	border-radius: 20px;
	background-color: #FFFEF8;	
	margin : 50px 0 50px 0;	
}

.btn_actif{
	background: #1d6154 !important;
	color:white!important;
}
.btn_inactif{
	background: white !important;
	color: #1D6154 !important;
}

#addWorks {
	background-color: #1D6154;
	color: #fefefe;
	margin: 20px;
	width: 200px;
}
#deleteWorks {
	border: none;
	background: white;
	color: red;
	font-family: 'Syne';

}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	display: flex;
	justify-content: center;
	text-align: center;
	margin-bottom: 1em;
}
#gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

#gallery img {
	width: 100%;

}
#contact {
	width: 50%;
margin: auto;
}
#contact > * {
	text-align: center;
}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input, select{
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
	text-align: left;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

#login{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 25px auto 300px;
	
}

form{
	display: flex;
	flex-direction: column;
	font-family: 'Work Sans';
	font-size: 14px;
}
label{
	margin-top: 25px;
}
#myBtnProjet{
	font-size: 14px;
	margin-left: 20px;
	border: none;
	background-color: white;
	cursor: pointer;
}
#myBtnArticle{
	font-size: 14px;
	margin-bottom: 50px;
	border: none;
	background-color: white;
}

#myBtnImage{
	font-size: 14px;
	position: relative;
	top: 10px;
	left: 56px;
	border: none;
	background-color: white;
}
#adminBar {
	background-color: black;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50px;
	margin: 0;
}

#adminBtn {
	border-radius: 20px;
	font-size: 16px;
	padding: 8px 20px;
	background: white;
	font-family: 'Work Sans';
	font-weight: bold ;
}

