/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
	background: #FFFEF8;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;
	justify-content: space-evenly;


}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}
header li:hover{
	color: #B1663C;
}
#filtres nav{
	width: 80%;
}
nav a{
	text-decoration: none;
}

#filtres li{
	width: 20%;
}
#filtres button, #addWorks{
	font-family: 'syne' ;
	font-size: 16px;
	color: #1D6154;
	display: flex;
	align-items: center;
	justify-content: center;
	white-space: nowrap;
	height: 40px;
	width: 100%;
	border: 2px solid #1D6154;
	border-radius: 20px;
	background-color: #FFFEF8;	
	margin : 50px 0 50px 0;	
}

#addWorks {
	background-color: #1D6154;
	color: #fefefe;
	margin: 20px;
}
#deleteWorks {
	border: none;
	background: white;
	color: red;
	font-family: 'Syne';

}

#filtres button:hover{
color: #FFFEF8;
background-color: #1D6154;
}


#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	display: flex;
	justify-content: center;
	text-align: center;
	margin-bottom: 1em;
}
#gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

#gallery img {
	width: 100%;

}
#contact {
	width: 50%;
margin: auto;
}
#contact > * {
	text-align: center;
}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input{
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
	text-align: left;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

#login{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 300px;
	
}

form{
	display: flex;
	flex-direction: column;
	font-family: 'Work Sans';
	font-size: 14px;
}
label{
	margin-top: 25px;
}
#myBtnProjet{
	margin-left: 20px;
	border: none;
	background-color: white;
}
#myBtnArticle{
	margin-bottom: 50px;
	border: none;
	background-color: white;
}

#myBtnImage{
	position: relative;
	top: 10px;
	left: 56px;
	border: none;
	background-color: white;
}
#adminBar {
	background-color: black;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50px;
}

#adminBtn {
	border-radius: 20px;
	font-size: 16px;
	padding: 8px 20px;
	background: white;
	font-family: 'Work Sans';
	font-weight: bold ;
}

/* The Modal */
.modal {
	margin: 0;
	display: none; 
	position: fixed; 
	z-index: 1; 
	left: 0;
	top: 0;
	width: 100%;
	height: 100%; 
	 
	background-color: rgb(0,0,0); 
	background-color: rgba(0,0,0,0.4); 
  }

#modalHeader {
	display: flex;
	flex-direction: column;
	width: 150%;
}

#myModal h2{
	display: flex;
	justify-content: center;
	margin: 25px;
}

#modalMain {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
}

#modalMain figure{
	width: 20%;
}
#modalMain button{
	background-color: #000;
	border: none;
	border-radius: 3px;
	position: relative;
	top: -85px;
	left: 42%;
}
#modalMain button i{
	color: white;
	padding: 4px;
	font-size: 13px;
}

#modalMain figure img{
	width: 90%;
}

#modalFooter  {
	display: flex;
	flex-direction: column;
	align-items: center;
	border-top: 2px solid #aaa;
	margin: 25px 0;
}


.modal-content {
	background-color: #fefefe;
	margin: 3% 25%; 
	padding: 0 100px;
	border: 1px solid #888;
	width: 35%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#close {
	display: flex;
	justify-content: flex-end;
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}